<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<test name="OnePlus_3T" preserve-order="true">
		<listeners>
			<listener class-name="com.qa.listeners.TestListener" />
		</listeners>
		<parameter name="emulator" value="false" />
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="614a12ef" />
		<parameter name="deviceName" value="OnePlus_3T" />
		<classes>
			<class name="com.qa.tests.LoginTests">
				<methods>
					<include name="blankUserName" />
					<include name="invalidUserName" />
					<include name="blankPassword" />
					<include name="invalidPassword" />
					<include name="successfulLogin" />
				</methods>
			</class>
			<class name="com.qa.tests.LandingPageTests">
				<methods>
					<include name="landingPage" />
				</methods>
			</class>
			<class name="com.qa.tests.SearchResultsTests">
				<methods>
					<include name="landingPageSearchTV" />
				</methods>
			</class>
			<class name="com.qa.tests.ProductInfoTests">
				<methods>
					<include name="ProductInfoDisplayed" />
				</methods>
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->
